<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
      <img src="{{image}}" alt="User Image">
      <br>
      <button class="btn btn-primary upload">Upload</button>
    </div>
    <div class="col-md-8 details">
        <label>Name: {{name}}</label>
        <br>
        <label>Email: {{email}}</label>
        <br>
        <label>Contact: {{contact}}</label>
        <div>
            <button class="btn btn-primary edit">Edit</button>
          </div>
    </div>
  </div>
</div>